:root {
    --clr-primary: #377C9B;
    --clr-hover-primary: #2f657f;
    --clr-secondary: #84B77C;

    --clr-text: rgb(94, 92, 92);
    --clr-hover-text: rgb(61, 59, 59);
} 

hr {
    background-color: rgba(128, 128, 128, 0.604);
    max-width: 1100px;
}

/* Header CSS */
.header-title-container {
    text-align: center;
    padding-top: 2rem;
}
.header-title-front {
    color: var(--clr-primary);
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    font-weight: 500;
}

.header-title-back {
    color: var(--clr-secondary);
    font-family: 'Inter', sans-serif;
    font-size: 2rem;
    font-weight: 500;
}

/* Too good to pass up section */
.pass-container {
    padding: 7em;
    text-align: center;
}

.custom-btn {
    background-color: var(--clr-primary);
    font-family: 'Courgette', cursive;
    font-size: 1.2em;
    color: white;
    border: none;
    border-radius: 2px;
    padding: .5em;
    width: 15rem;
}

.custom-btn:hover {
    background-color: var(--clr-hover-primary);
    transform: scale(1.05);
    transition: transform .5s ease-in-out;
    box-shadow: 7px 5px 5px rgba(0, 0, 0, 0.503);
    transition: box-shadow 0.5s ease-in-out;
    transition: background-color 0.4s ease-in-out;
}

.pass-title {
    color: var(--clr-primary);
    font-family: 'Lora', serif;
    font-size: 3em;
    margin: 0;
    padding-bottom: 1em;
}

.pass-text {
    color: var(--clr-text);
    margin: 0 auto 2em auto;
    width: 20em;
}

/* Images/Cards Section */
.images-container {
    text-align: center;
}

.first-card {
    text-align: center;
    background: var(--clr-secondary);
    color: white;
    width: 300px;
    height: 300px;
    padding: 2em;
    margin: .5em;
}

.first-card:hover {
    transform: scale(1.05);
    transition: transform .3s;
}
.second-card {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.338),
        rgba(0, 0, 0, 0.408)), 
        url("/img/forest.jpg");
    background-position: bottom;
    text-align: center;
    width: 300px;
    height: 300px;
    color: white;
    padding: 3em;
    margin: .5em;
}

.second-card:hover {
    transform: scale(1.05);
    transition: transform .3s;
}

.third-card {
    text-align: center;
    background: var(--clr-primary);
    color: white;
    width: 300px;
    height: 300px;
    padding: 2em;
    margin: .5em;
}

.third-card:hover {
    transform: scale(1.05);
    transition: transform .3s;
}

.quote {
    font-family: 'Lora', serif;

}

.author {
    font-family: 'Waterfall', cursive;
    font-size: 2.5em;
}

.second-title {
    font-family: 'Lora', serif;
    font-size: 1.9em;
    font-weight: 700;
}

.second-text {
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.2em;
}

.btn-link {
    color: white !important;
}

.btn-link:hover {
    color: rgb(205, 203, 203) !important;
}


.third-first_text {
    font-family: 'BioRhyme Expanded', serif;
    font-size: 1.6em;
    border-style: double none none none;
    margin: 0;
    padding-top: .5em;
}

.third-second_text {
    font-family: 'Playfair Display', serif;
    font-size: 2.6em;
    border-style: none none double none;
    margin: 0;
    padding-bottom: .5em;

}

/* Footer*/
.footer-container {
    display: flex;
    justify-content: space-between;
    padding: 0;
}

.list-items {
    display: flex;
    text-align: center;
    list-style: none;
    font-family: 'Lora', serif;
    font-size: 1em;
    padding: 0;
    margin: 0;
}

.item {
    padding: 0 1em;
    border-right: 1px solid;
}

.item:hover {
    background-color:rgba(205, 203, 203, 0.164);
}

.item a {
    color: var(--clr-text);
}

.item a:hover {
    color: var(--clr-hover-text);
}

.item:nth-last-child(1) {
    border: none;
}

.social-items{
    display: flex;
    justify-content: center;
    list-style: none;
}

.btn-social-icon {
    margin: 0 .5em;
    border-radius: 50% !important;
    background-color: var(--clr-primary) !important;
}

.btn-social-icon:hover {
    background-color: var(--clr-hover-primary) !important;
}

/* Top Navigation */
.top-navigation {
    padding: 0;
    margin: 0;
}

.nav-items {
    display: flex;
    justify-content: center;
    list-style: none;
    font-family: 'Lora', serif;
    font-size: 1.2em;
    padding: 0;
    margin: 0;
}

.nav-item {
    padding: 0 1em;
    border-right: 1px solid;
}

.nav-item:hover {
    background-color:rgba(205, 203, 203, 0.164);
}

.nav-item a {
    color: var(--clr-text);
}

.nav-item a:hover {
    color: var(--clr-hover-text);
}

.nav-item:nth-last-child(1) {
    border: none;
}

/* Bottom Navigation */
.bottom-navigation {
    margin: auto;
    font-family: 'Lora', serif;
    font-size: 1.5em;
}

.navigation-list {
    list-style-type: none;
    margin: auto;
}

.navigation-list li {
    text-align: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.47);
    padding: 1em;
}

.navigation-list li:nth-last-child(1) {
    border: none;
}

.navigation-list a {
    color: var(--clr-text);
}

.navigation-list a:hover {
    color: var(--clr-hover-text);
}




