:root {
    --clr-primary: #377C9B;
    --clr-hover-primary: #2f657f;
    --clr-secondary: #84B77C;

    --clr-text: rgb(94, 92, 92);
    --clr-hover-text: rgb(61, 59, 59);

    --font-Lora: 'Lora', serif;
    --font-Times: 'Times New Roman', Times, serif;
} 

hr {
    background-color: rgba(128, 128, 128, 0.604);
    max-width: 1140px;
}

/* Header CSS */
.header-title-container {
    text-align: center;
    padding: 0;
}

.logo {
    margin: 0;
    width: 20em;
    padding-top: 2em;
}

/* Top Navigation */
.top-navigation {
    padding: 0;
    margin: 0;
}

.nav-items {
    display: flex;
    justify-content: center;
    list-style: none;
    font-family: var(--font-Lora);
    font-size: 1.2em;
    padding: 0;
    margin: 0;
}

.nav-item {
    padding: 0 1em;
    border-right: 1px solid;
}

.nav-item:hover {
    background-color:rgba(205, 203, 203, 0.164);
}

.nav-item a {
    color: var(--clr-text);
}

.nav-item a:hover {
    color: var(--clr-hover-text);
}

.nav-item:nth-last-child(1) {
    border: none;
}

/* Too good to pass up section */
.pass-container {
    padding: 5em;
    text-align: center;
}

.pass-title {
    color: var(--clr-primary);
    font-family: var(--font-Lora);
    font-size: 3em;
    margin: 0;
    padding-bottom: .5em;
}

.pass-text {
    color: var(--clr-text);
    font-size: 1.2em;
    margin: 0 auto 2em auto;
    padding-bottom: 1em;
    width: 18em;
}

.custom-btn {
    background-color: var(--clr-primary);
    font-family: 'Courgette', cursive;
    font-size: 1.2em;
    color: white;
    border: none;
    border-radius: 2px;
    padding: .5em;
    width: 15rem;
}

.custom-btn:hover {
    background-color: var(--clr-hover-primary);
    transform: scale(1.05);
    transition: transform .5s ease-in-out;
    box-shadow: 7px 5px 5px rgba(0, 0, 0, 0.503);
    transition: box-shadow 0.5s ease-in-out;
    transition: background-color 0.4s ease-in-out;
}


/* Images/Cards Section */
.card-one {
    background-color: var(--clr-secondary) !important;
}

.quote {
    font-family: var(--font-Lora);
    font-size: 1.3em;
}

.author {
    font-family: 'Waterfall', cursive;
    font-size: 2.4em;
}

.card-two {
    background-image: 
        linear-gradient(rgba(0, 0, 0, 0.362), 
        rgba(0, 0, 0, 0.429)), 
        url("/img/forest.png")
        !important;
    background-position: center;
}

.second-title {
    font-family: var(--font-Lora);
    font-size: 2.3em;
    font-weight: 700;
    margin: 1em 0;
}

.second-text {
    font-family: var(--font-Times);
    font-size: 1.5em;
}

.btn-link {
    font-family: var(--font-Times);
    text-decoration: underline !important;
    color: white !important;
    font-size: 1.5em !important;
}

.btn-link:hover {
    color: rgb(229, 225, 225) !important;
}

.card-three {
    background-color: var(--clr-primary) !important;
}

.third-first_text {
    font-family: 'BioRhyme Expanded', serif;
    font-size: 2em;
    border-top: 10px double;
    margin-top: .5em;
    padding-top: .4em;
}

.third-second_text {
    font-family: 'Playfair Display', serif;
    font-size: 3.1em;
    border-bottom: 10px double;
    padding-bottom: .4em;
}

/* Bottom Navigation */
.bottom-navigation {
    font-family: var(--font-Lora);
    font-size: 1.5em;
    text-align: center;
}

.navigation-list {
    list-style-type: none;
    padding: 0;
}

.navigation-list li {
    border-bottom: 1px solid rgba(128, 128, 128, 0.47);
    padding: .5em;
}

.navigation-list li:nth-last-child(1) {
    border: none;
}

.navigation-list li:hover {
    background-color:rgba(205, 203, 203, 0.164);
}

.navigation-list a {
    color: var(--clr-text);
}

.navigation-list a:hover {
    color: var(--clr-hover-text);
}

/* Footer*/
.footer-container {
    padding: 0;
    text-align: center;
}

.list-items {
    display: flex;
    justify-content: center;
    list-style: none;
    font-family: var(--font-Lora);
    font-size: .57em;
    padding: 0;
}

@media (min-width: 500px) {
   .list-items {
    font-size: .7em;
   }
}

@media (min-width: 800px) {
   .list-items {
    font-size: 1em;
   }
}

@media (min-width: 990px) {
   .list-items {
    font-size: 1em;
   }
}

.item {
    padding: .5em;
    border-right: 1px solid;
}



.item:hover {
    background-color:rgba(205, 203, 203, 0.164);
}

.item a {
    color: var(--clr-text);
}

.item a:hover {
    color: var(--clr-hover-text);
}

.item:nth-last-child(1) {
    border: none;
}

.social-items{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.btn-social-icon {
    margin: 0 .5em;
    border-radius: 50% !important;
    background-color: var(--clr-primary) !important;
}

.btn-social-icon:hover {
    background-color: var(--clr-hover-primary) !important;
}

/* Unsubscribed Section */
.unsubscribed-container {
    color: var(--clr-text);
    padding: .5em;
}

.unsubscribed-container a {
    color: var(--clr-text);
    text-decoration: underline;
}

.unsubscribed-container a:hover {
    color: var(--clr-hover-text);
}






